* {
	margin: 0;
	padding: 0;
	font: 16px/22px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #6dcf19;
	}

body#woman * { color: #c40a98; }

body { background-color: #dfef00; }

body#woman { background-color: #ff77ae; }

ul { list-style: none; }

.light-green { color: #dfef00; }
.medium-green { color: #cde800; }
.dark-green { color: #6dcf19; }

.light-pink { color: #ff77ae; }
.medium-pink { color: #ff62ae; }
.dark-pink { color: #c40a98; }

a { text-decoration: none; }

td a { border-bottom: 1px solid #cde800; }
td a:hover { border-bottom: 1px solid #6dcf19; }

#woman td a { border-bottom: 1px solid #ff62ae; }
#woman td a:hover { border-bottom: 1px solid #c40a98; }

table { text-align: left; }

table tr th, table tr td {
    padding: 5px 20px 5px 8px;
    border-bottom: 2px solid #cde800;
    }

#woman table tr th, #woman table tr td {
    padding: 5px 20px 5px 8px;
    border-bottom: 2px solid #ff62ae;
    }

h1 {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 60px;
    margin-left: -4px;
    }

h1, h2, dt { font-weight: bold; }

#notice h2 { color: #006428;}

#wrap {
	position: relative;
	width: auto;
	height: auto;
	}

#content {
	position: relative;
	top: 120px;
	left: 40px;
	width: 900px;
	height: auto;
	padding-bottom: 40px;
	}

#refresh {
    position: absolute;
    top: 37px;
    left: 40px;
    width: 33px;
    height: 42px;
    background: transparent url('../images/refresh.gif') no-repeat 0 0;
    text-indent: -999em;
    }

#woman #refresh { background: transparent url('../images/w-refresh.gif') no-repeat 0 0; }

#refresh:hover { background: transparent url('../images/refresh.gif') no-repeat 0 -42px; }
  
#woman #refresh:hover { background: transparent url('../images/w-refresh.gif') no-repeat 0 -42px; }

#nav { position: absolute; top: 46px; right: 40px; }

#nav li { display: inline; margin-left: 5px; }
#nav li a { padding: 12px; background-color: #cde800; }
#nav li a:hover { background-color: #6dcf19; color: #dfef00; }
#nav li a.man { background-color: #6dcf19; color: #dfef00; }
#nav li a.man:hover { color: #fff; }

#woman #nav li a { padding: 12px; background-color: #ff62ae; }
#woman #nav li a:hover { background-color: #c40a98; color: #ff77ae; }
#woman #nav li a.man { color: #c40a98; }
#woman #nav li a.man:hover { color: #ff77ae; }
#woman #nav li a.woman { background-color: #c40a98; color: #ff77ae; }
#woman #nav li a.woman:hover { color: #fff; }

p { font-weight: normal; }

#submit-box, #notice {
    position: relative;
    width: 400px;
    height: auto;
    border: none;
    background-color: #cde800;
    padding: 20px;
    border-bottom: 1px solid #dfef00;
    }

#woman #submit-box { background-color: #ff62ae; border-bottom: 1px solid #ff77ae; }

#received {
    position: absolute;
    top: 20px;
    right: 20px;
    }

#add {
    position: absolute;
    top: 28px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: transparent url('../images/add.gif') no-repeat 0 0;
    text-indent: -999em;
    }

#woman #add { background: transparent url('../images/w-add.gif') no-repeat 0 0; }

#add:hover { background: transparent url('../images/add.gif') no-repeat 0 -30px; }

#woman #add:hover { background: transparent url('../images/w-add.gif') no-repeat 0 -30px; }

#add.toggle {
    position: absolute;
    top: 39px;
    right: 20px;
    width: 30px;
    height: 7px;
    background: transparent url('../images/add.gif') no-repeat 0 -60px;
    text-indent: -999em;
    }

#woman #add.toggle { background: transparent url('../images/w-add.gif') no-repeat 0 -60px; }
   
#add.toggle:hover { background: transparent url('../images/add.gif') no-repeat 0 -67px; }

#woman #add.toggle:hover { background: transparent url('../images/w-add.gif') no-repeat 0 -67px; }

fieldset {
    width: 400px;
    height: auto;
    border: none;
    background-color: #cde800;
    padding: 20px 20px 10px;
    }

#woman fieldset { background-color: #ff62ae; }

fieldset ul li { margin-bottom: 10px; }
fieldset ul li ul { margin-left: 120px; }
fieldset ul li ul li { margin-bottom: 0; }

li.status.yes {
    background-image: url('../images/validate-yes.gif');
    background-repeat: no-repeat;
    background-position: 371px 0;
    }

#woman li.status.yes { background-image: url('../images/w-validate-yes.gif'); }

li.status.no {
    background-image: url('../images/validate-no.gif');
    background-repeat: no-repeat;
    background-position: 371px 0;
    }
    
#woman li.status.no { background-image: url('../images/w-validate-no.gif'); }

ul li.warning.yes,
ul li.warning.no,
ul li.error {
    font-size: 13px;
    font-style: italic;
    color: #fff;
    margin-bottom: 12px;
    }

#woman ul li.warning.yes,
#woman ul li.warning.no,
#woman ul li.error {
    font-size: 13px;
    font-style: italic;
    color: #fff;
    margin-bottom: 12px;
    }

ul li.warning.no,
ul li.error,
#woman li.warning.no,
#woman li.error { color: #ec1c24; }

label { float: left; width: 120px; }

#textarea-label { width: 300px; margin-bottom: 2px; }

select { border: 0; }

input, textarea { outline: none; }

input[type="radio"] { margin-right: 6px; }
    
textarea {
    background-color: #dfef00;
    color: #6dcf19;
    font-style: italic;
    border: none;
    padding: 12px;
    width: 300px;
    overflow: auto;
    margin-bottom: 0;
    }

#woman textarea { background-color: #ff77ae; color: #c40a98; }

input[type="submit"] {
    padding: 12px;
    background-color: #6dcf19;
    color: #dfef00;
    border: 0;
    cursor: pointer;
    }

#woman input[type="submit"] { background-color: #c40a98; color: #ff77ae; }

input[type="submit"]:hover { color: #fff; }

#woman input[type="submit"]:hover { color: #fff; }
    
.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
    }

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    }

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
    }

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
    }