<h1>Never Trust a <%= @gender.capitalize %> Who <%= @fetch.description %></h1>

<div id="submit-box">
    <a href="#" title="Submit your own" id="add">Submit your own</a>
    <h2>Submit your own.</h2>
    <p>Maybe we'll post it. Maybe we won't.</p>
</div>

<%= render 'form' %>

<script type="text/javascript">
$(document).ready(function(){
    $("#submit").hide();
    $("#submit-box a").click(function(){
        $("#submit-box a").toggleClass("toggle");
        $("#submit").slideToggle("fast");
        return false;
    });

});
</script>