<div id="submit-box">
    <img src="media/images/received.gif" alt="Submission recieved" width="38" height="46" id="received" />
    <h2>Submission received.</h2>
    <p>If it was cool, you'll see it on the site.</p>
</div>