<%= link_to "Never trust a...", root_path, :title => "Show me more", :id => "refresh" %>
<ul id="nav">
    <li>Switch:</li>
    <li><%= link_to "Man", man_path, :title => "Never trust a man...", :class => "man" %></li>
    <li><%= link_to "Woman", woman_path, :title => "Never trust a woman...", :class => "woman" %></li>
</ul>